#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
  /* Styles for large screens */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #545776;
  color: #fff;
  width: 100vw;
  height: 20vh;
  margin: 0;
}

.main-container h2 {
  width: 85vw;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.form-buscador {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.section-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 80vw;
  margin: auto;
}

.section-inputs input {
  width: 422px;
  height: 2rem;
  background-color: #f3f3f4;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  outline: none;
  font-size: 16pt;
  margin: 10px;
}

.submit-btn {
  background-color: #1DBEB4;
  font-size: 16px;
  width: 20%;
  height: 2rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: auto 55px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.data-input {
  color: #7F7F7F;
}
}

@media (min-width: 1024px) {
  /* Estilos para pantallas de laptop con un ancho mínimo de 1024px */
  #root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #545776;
    color: #fff;
    width: 100vw;
    height: 30vh;
    margin: 0;
  }
  
  .main-container h2 {
    width: 85vw;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form-buscador {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  .section-inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 80vw;
    margin: auto;
  }
  
  .section-inputs input {
    width: 422px;
    height: 2rem;
    background-color: #f3f3f4;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    outline: none;
    font-size: 16pt;
    margin: 10px;
  }
  
  .submit-btn {
    background-color: #1DBEB4;
    font-size: 16px;
    width: 20%;
    height: 2rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: auto 55px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .data-input {
    color: #7F7F7F;
  }
  
}

/* - una medida para tablet  */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para pantallas de tablet con un ancho mínimo de 768px y un ancho máximo de 1023px */
  #root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #545776;
    color: #fff;
    width: 100vw;
    height: 16vh;
    margin: 0;
  }
  
  .main-container h2 {
    width: 85vw;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form-buscador {
    height: 50%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  .section-inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin: auto;
  }
  
  .section-inputs input {
    width: 350px;
    height: 40px;
    background-color: #f3f3f4;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin: 10px;
  }
  
  .submit-btn {
    background-color: #1DBEB4;
    font-size: 15px;
    width: 20%;
    height: 40px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: auto 55px;
    text-align: center;
  }
  
  .data-input {
    color: #7F7F7F;
  }
}

/* - una medida para telefono */
@media (max-width: 767px) {
  /* Estilos para pantallas de teléfono con un ancho máximo de 767px */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #545776;
  color: #fff;
  width: 100vw;
  height: 20vh;
  margin: 0;
}

.main-container h2 {
  width: 85vw;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.form-buscador {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.section-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 80vw;
  margin: auto;
}

.section-inputs input {
  width: 422px;
  height: 2rem;
  background-color: #f3f3f4;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  outline: none;
  font-size: 16pt;
  margin: 10px;
}

.submit-btn {
  background-color: #1DBEB4;
  font-size: 16px;
  width: 20%;
  height: 2rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: auto 55px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.data-input {
  color: #7F7F7F;
}

}